# Byte-compilado / optimizado / DLL files
__pycache__/
*.py[cod]
*$py.class

# extensiones de C
*.so

# Distribución / embalaje
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Por lo general, estos archivos están escritos por una secuencia de comandos python a partir de una plantilla
#  antes de que PyInstaller construya el exe, para inyectarle fecha / otras informaciones.
*.manifest
*.spec

# Registros de instalador
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage informes
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Traducciones
*.mo
*.pot

# Cosas de Django:
*.log
local_settings.py

# Cosas de Flask:
instance/
.webassets-cache

# Cosas de Scrapy:
.scrapy

# Sphinx documentación
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# configuración del proyecto de Spyder
.spyderproject
.spyproject

# configuración del proyecto de Rope
.ropeproject

# mkdocs documentación
/site

# mypy
.mypy_cache/
